.pf-btn
    padding .25rem 1rem
    color $text
    font-weight 500
    font-size 1.5rem
    background #F4F4F4
    border-radius .25rem
    transition filter .5s ease-in-out

    &:hover
        filter brightness(110%)