.pf-input
    padding 1rem
    margin-top 2rem
    height 4rem
    width 100%
    color $text
    font-size 1.7rem
    background-color $button
    border none
    border-radius .5rem
    transition filter .25s ease

    &::placeholder
        color $black-glass

    &:focus
        filter drop-shadow(0 0 0.45rem $black-glass)
