.pf-list
    display grid
    width 100%
    padding-top 1.6rem
    grid-template-columns repeat(2, 1fr)
    gap 1rem

    @media screen and (min-width: 768px)
        padding-top 5rem
        grid-template-columns repeat(3, 1fr)

    &--pokemons
        width 100%
        padding-top 1.6rem
        grid-template-columns repeat(2, 1fr)
        gap 1rem

        @media screen and (min-width: 768px)
            padding-top 0rem
            grid-template-columns repeat(3, 1fr)