.pf-tips
    display flex
    flex-wrap wrap
    align-items center
    justify-content flex-start
    gap .5rem

.pf-tip
    padding .25rem 1rem
    color $dark-glass
    font-weight 500
    height 2rem
    font-size 1rem
    border-radius .25rem

    &--small
        font-size .9rem
