.pf-toolbar
    margin 0 auto
    padding 2rem 1rem 2.5rem
    max-width 1120px
    display flex
    align-items center
    justify-content space-between

    @media screen and (min-width: 768px)
        padding 2rem 1rem 5rem

    &__logo
        height 2rem
        width 2rem

        @media screen and (min-width: 768px)
            height 3.8rem
            width 3.8rem