// Neutral colors
$shape = #FFFFFF
$background = #F6F6F6
$button = #F4F4F4
$title = #4F4F4F
$text = #949494
$black-glass = rgba(0,0,0, .2)
$dark-glass = rgba(0,0,0, .4)
$light-glass = rgba(255,255,255, .5)
$antique-white = #F8EADC

// Games colors
$red = #FF8989
$blue = #81C2FF
$yellow = #FFFA7E
$gold = #FFDB7E
$silver = #D2D2D2
$crystal = #83FFF8
$ruby = #C20000
$sapphire = #007CC2
$emerald = #02963D
$fire-red = #FF7918
$leaf-green = #B4FF99
$diamond = #3B5C9D
$pearl = #FFEAF3
$platinum = #c3c3c387
$colosseum = #FDF9DF
$darkness = #333790
$poison = #BC88CE
$ground = #c8b5aa

$sun = {
    rise: #FFB84D,
    down:#CD6B35
}
$moon = {
    rise: #00A3FF,
    down: #5C00A4
}
$sword = {
    default: #F59BAD,
    light: #FAD0D5
}
$shield = {
    default: #778BBE,
    light: #9EDEF9
}

$shadow = {
   default: 0 0 .25rem 0 $black-glass
}

