.pf-color
    background currentColor
    color $shape

    &--shape
        background $shape
        color $title
        filter drop-shadow(0 0 0.10rem $black-glass)

     &--red
        background $red

    &--blue
        background $blue

    &--red-blue
        background linear-gradient(90deg, $red 50%, $blue 50%) !important

    &--yellow
        background $yellow

    &--gold
        background $gold

    &--silver
        background $silver

    &--gold-silver
        background linear-gradient(90deg, $gold 50%, $silver 50%)

     &--crystal
        background $crystal

     &--ruby
        background $ruby

    &--sapphire
        background $sapphire

     &--ruby-sapphire
        background linear-gradient(90deg, $ruby 50%, $sapphire 50%)

    &--emerald
        background $emerald

    &--firered
        background $fire-red

    &--leafgreen
        background $leaf-green

    &--firered-leafgreen
        background linear-gradient(90deg, $fire-red 50%, $leaf-green 50%)

    &--diamond
        background $diamond

    &--pearl
        background $pearl

    &--diamond-pearl
        background linear-gradient(90deg, $diamond 50%, $pearl 50%)

    &--platinum
        background linear-gradient(90deg, $background 50%, $platinum 100%)

    &--heartgold-soulsilver
        background linear-gradient(90deg, $gold 0%, $yellow 50%, $silver 50%, $title 100%)

    &--black
        background $title

    &--white
        background $shape
        box-shadow $shadow.default

    &--black-white
        background linear-gradient(90deg, $shape 50%, $title 50%)
        box-shadow $shadow.default

    &--colosseum
        background $colosseum

    &--xd
        background $darkness

     &--generation-i
        background linear-gradient(120deg, $red, $blue, $yellow)
        color $shape

    &--generation-ii
        background linear-gradient(90deg, $gold, $silver, $crystal)
        color $shape

    &--generation-iii
        background linear-gradient(45deg, $ruby, $sapphire, $emerald)
        color $shape

    &--generation-iv
        background linear-gradient(67deg, $yellow, $gold, $pearl, $background, $silver)
        color $shape

    &--generation-v
        background linear-gradient(90deg, $title, $shape)
        color $shape
        box-shadow $shadow.default

    &--generation-vi
        background linear-gradient(50deg, $ruby 33%, $crystal)
        color $shape

    &--generation-vii
        background linear-gradient(145deg, $sun.rise 0%, $sun.down 17.71%, $moon.down 65.62%, $moon.rise 95.31%)
        color $shape

    &--generation-viii
        background linear-gradient(145deg, $sword.default 0%, $sword.light 33.71%, $shield.light 66.62%, $shield.default 91.31%)
        color $shape

    &--normal
        background $silver

    &--water
        background $moon.rise

    &--fire
        background $fire-red

    &--flying
        background $colosseum

     &--ground
        background $ground

    &--grass
        background $leaf-green

    &--rock
        background $platinum

    &--poison
        background $poison

    &--bug
        background $emerald

    &--electric
        background $yellow

    &--psychic
        background $sword.light

    &--fairy
        background $sword.default

    &--fighting
        background $shield.default

    &--ice
        background $shield.light

    &--dragon
        background $sun.down

    &--ghost
        background $darkness
        color $light-glass !important

    &--steel
        background $platinum

     &--dark
        background $title
        color $light-glass !important




