.pf-container
    margin 0 auto
    padding 0 1rem 0
    max-width 1120px

    @media screen and (min-width: 768px)
        padding 0 1rem 5rem

    &--right
        text-align left

    &--left
        text-align left

    &--center
        text-align left