.pf-title
    font-size 8rem
    font-weight 700
    color $title

    @media screen and (min-width: 768px)
        margin-top 1.8rem
        font-size 16rem
        line-height 5.37rem

.pf-tile
    font-size 2rem
    font-weight 600
    color $tile
    margin-top 3rem

    @media screen and (min-width: 768px)
        font-size 4rem
        line-height 5.37rem

.pf-subtile
    font-size 2rem
    font-weight 600
    color $text
    margin-top 1rem

    @media screen and (min-width: 768px)
        margin-top 3rem
        font-size 3rem
        line-height 5.37rem

.pf-heading
    font-size 1.6rem
    font-weight 700
    color $title

    &--semi
        font-weight 600

    @media screen and (min-width: 768px)
        font-size 3.8rem
        line-height 5.37rem

.pf-subheading
    font-size 1rem
    font-weight 600
    color $text

    @media screen and (min-width: 768px)
        font-size 2rem
        line-height 2.87rem

    &--medium
        max-width 40.8rem

    strong
        color $title

.pf-info
    padding-top .5rem
    font-size 1.8rem
    font-weight 600
    color $text

    strong
        color $title

.pf-filter-tile
    padding-top .5rem
    font-size 1.2rem
    font-weight 600
    color $text

    @media screen and (min-width: 768px)
        font-size 1.6rem